*, ::before, ::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   margin: 0 auto;
   padding: 0 30px;
}

@media (min-width: 1280px) {
   .container {
      max-width: 1500px !important;
   }
}